node_modules
**/node_modules
.git
.gitignore
*.log
.DS_Store
Thumbs.db
ngrok
docs
**/.angular/cache
**/coverage
**/.cache
**/.eslintcache
**/.nyc_output
Backend/.env
Backend/.env.*
Backend/public/uploads/*
README.md
